<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titulo%></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1  class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam, ut quisquam, veniam dolores nostrum quidem sunt totam a labore ea possimus officiis voluptates nam voluptatibus corrupti, porro expedita quos tempora vitae! Architecto, illum quibusdam. Et ab asperiores esse expedita cupiditate debitis sint ut. Dolorem repellat esse excepturi, eos magnam velit sit nostrum nobis maxime praesentium culpa doloribus ad facere, ipsum eaque laborum nam ducimus temporibus quas id. Optio minima eveniet ex ad iste amet est cum expedita inventore beatae voluptatibus eaque corporis incidunt natus ipsa veniam consequuntur sunt provident odio labore, obcaecati cupiditate! Aperiam eligendi, animi voluptatibus repudiandae similique vitae sunt nihil natus nisi quae sit quaerat sapiente laborum suscipit dolorem sint earum voluptatum dolores ut laudantium, deserunt molestias omnis commodi. Ex, non. Provident cumque, ducimus facilis alias nesciunt consectetur quam animi quis delectus tenetur ex aliquam porro sed! Voluptatibus dolores odio aperiam dolorem earum enim fugit pariatur provident molestias mollitia. Corrupti maxime quasi id, dignissimos quas minima, dolore culpa dolorum, quod neque facilis! Pariatur quas commodi quod est, amet possimus accusantium consectetur dolore harum quae soluta vero at et cumque delectus ipsa reiciendis eius architecto doloribus facere? Perferendis corporis iure officiis dignissimos, temporibus mollitia nobis ratione. Eligendi illum veritatis expedita aliquid fugit quod quas impedit officia natus assumenda, vitae iure facere qui reprehenderit omnis corrupti neque ipsa voluptas quidem nam debitis obcaecati. Saepe ratione, labore reprehenderit voluptates excepturi, natus quidem pariatur doloribus minima blanditiis error cum nihil voluptatum accusantium optio facere dicta aperiam ipsa similique facilis eligendi, aliquam id necessitatibus dolores. Tenetur mollitia nemo ipsam repellendus commodi minima aperiam iste adipisci provident, dolore reiciendis impedit nobis necessitatibus blanditiis. Hic fugiat neque ratione impedit ab nostrum facilis, nihil ipsum modi laudantium deserunt facere, delectus dolorum quam quasi at blanditiis iusto maiores eius? Totam nemo quod id voluptatibus odit inventore.</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>